body{
  font-family: Roboto!important;
}

.navbar{
    background-color: transparent;
    z-index: 100!important;
}

.navbar.active{
    background-color: #000!important;
}

.nav-link{
  color: white!important;
}

.nav-link:hover{
  color: yellow!important;
}
.navbar .in .nav li {
   display: block;
   float: none;
   width:100%;
}

.intro-lead-in{
  font-family: 'Sacramento', cursive!important;
  font-size: 82px!important;
  text-shadow:
    1px 1px 0px #161919,
    2px 2px 0px #161919,
    3px 3px 0px #161919,
    4px 4px 0px #161919,
    5px 5px 0px #161919,
    6px 6px 0px #161919,
    7px 7px 0px #161919,
    8px 8px 0px #161919,
    9px 9px 0px #161919,
    10px 10px 0px #161919,
    11px 11px 0px #161919,
    12px 12px 0px #161919;

}

@media only screen and (max-width: 763px) {
.intro-lead-in{
  line-height: normal!important;
}
}

@media only screen and (max-width: 990px) {
.navbar-collapse{
  background-color: rgb(33, 37, 41, 0.8);
    border-radius: 8px;
}
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar-brand{
  font-size: 50px!important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#img{
  margin: 50px;
  border-radius: 5px;
  width: 200px;
}

.section-heading2{
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    color: #363537;
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.copyright{
    font-size: 90%;
    line-height: 40px;
    text-transform: none;
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.button{
  padding: 5px;
  border: none;
  border-radius: 45px;
  color: #000;
  font-size: 12px;
  background-color: aquamarine;
   box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
}

.button:hover{
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}